<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вычисление сидерического времени</title>
</head>
<body>
<h1>Вычисление сидерического времени</h1>
<form action="/calculate" method="post">
    <label for="longitude">Введите широту:</label>
    <input type="text" id="longitude" name="longitude" required>
    <button type="submit">Вычислить</button>
</form>

<div>
    <h2>Текущая информация:</h2>
    <p>Юлианский день: <span th:text="${julianDay}"></span></p>
    <p>Сидерическое время (градусы): <span th:text="${siderealTimeDegrees}"></span></p>
    <p>Сидерическое время (часы): <span th:text="${siderealTimeHours}"></span></p>
</div>
</body>
</html>
