<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Получение координат по адресу</title>
</head>
<body>
<h1>Введите адрес</h1>
<form action="/getCoordinates" method="post">
  <input type="text" name="address" required>
  <button type="submit" name="action" value="getCoordinates">Получить координаты</button>
</form>

<div>
  <h2>Координаты:</h2>
  <p th:text="${coordinates}">Координаты будут здесь</p>
  <p th:text="${error}">Ошибки</p>
  <p th:text="${skyCoordinates}">Координаты будут здесь</p>
</div>

<!-- Окно с текущим временем UTC -->
<div>
  <h2>Текущее время UTC:</h2>
  <p id="utcTime">Загрузка времени...</p>
</div>

<!-- Выпадающий список для выбора спутника -->
<div>
  <h2>Выберите спутник:</h2>
  <form action="/selectSatellite" method="post">
    <select name="satelliteName" required>
      <option th:each="name : ${satelliteNames}" th:value="${name}" th:text="${name}">Спутники</option>
    </select>
    <button type="submit">Выбрать спутник</button>
  </form>
</div>

<!-- Форма для перехода на страницу skyMap с передачей координат -->
<form action="/skymap" method="post" th:if="${skyCoordinates}">
  <input type="hidden" name="azimuth" th:value="${skyCoordinates.az}" />
  <input type="hidden" name="altitude" th:value="${skyCoordinates.alt}" />
  <button type="submit">Перейти на Sky Map</button>
</form>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function updateUTC() {
      const now = new Date();
      const utcString = now.toUTCString();
      const utcElement = document.getElementById('utcTime');
      if (utcElement) {
        utcElement.innerText = utcString;
      } else {
        console.error("Element with id 'utcTime' not found.");
      }
    }
    setInterval(updateUTC, 1000);
    updateUTC();
  });
</script>
</body>
</html>
